<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game caro</title>
    <link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <button class="btn1 btn-med" id="khoiTao" onclick="board.khoiTaoBanCo()"><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i>Chơi cờ</button>
</body>
<script type="text/javascript" src="../js/board.js"></script>
</html>